.nav-link:hover > .drop-down {
  opacity: 1;
  z-index: 10;
}

.drop-down {
  background-color: #004252;
  position: absolute;
  left: 0;
  right: 0;
  top: 63px;
  padding: 15px 0;
  opacity: 0;
  z-index: -10;
  transition: 0.25s all ease-in;
}
